<table id="List_report">
    <tr>
        <th class="fonttext">Mã</th>
        <th class="fonttext">Tên đối báo cáo</th>
        <th class="fonttext">Mô tả</th>
        <th > </th>
    </tr>
    <tr *ngFor="let data of listdata" class="back-White">
        <th class="fonttext data">{{data.reportId}}</th>
        <th id="name">{{data.reportName}}</th>
        <th class="fonttext data fontweight">{{data.reportDecription}}</th>
        <th class="Event">
            <label for="{{data.reportId}}"  class="option_item">
                <input type="checkbox" class="checkbox" name="" id="{{data.reportId}}">
                <div class="tick_doticon">
                    <i class="fa-solid fa-ellipsis custom"></i>
                    <app-export-exls class="box-item"></app-export-exls>
                </div>
            </label>
        </th>
    </tr>
</table>


