/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
} */
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    position: relative;
}
.right{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    left: 288px;
}
.line{
    min-width: 1200px;
    border: 1px solid #BDC2D2;
    margin-top: 12px;
}
.fixleftmenu{
    position: fixed;
}
.fixmenutop{
    position: fixed;
    z-index: 5;
}
.datatable{
    position: absolute;
    top: 40px;
}
.contentTable{
    width: 50px;
    height: 50px;
    background-color: aqua;
    z-index: -5;
}
.custom{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    height: 650px;
    justify-content: space-around;
}