
<div class="content">
    <app-leftbarside class="fixleftmenu"></app-leftbarside>
     <div class="right">
        <app-menubar class="fixmenutop"></app-menubar>
        <div class="datatable">
            <router-outlet>
                <!-- <app-searchbar></app-searchbar>
                <div class="line"></div>
                <app-table></app-table> -->
            </router-outlet>
        </div>
    </div>  
</div>  
<app-dialog class="custom" *ngIf="dialogService.isdisplay" ></app-dialog>