@import url(https://fonts.googleapis.com/css?family=Mulish);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDEFF3;
  
}
.conten{
    position: relative;
}
/* .cdk-overlay-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    align-items: center;
    display: flex;
    height: 280px;
    overflow-y: hidden !important;
    justify-content: center;
} */
.cdk-overlay-container .cdk-overlay-backdrop .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-mdc-dialog-container {
    width: 1000px;
    height: 500px;
}